---
# Activation keys that we use in the RH-ISAM

activation_keys:
  - name: "SOE8_dev"
    state: "present"
    description: "Activate a RHEL 8 system"
    organization: "{{ satellite_organization }}"
    auto_attach: false
    content_overrides:
      - label: "satellite-client-6-for-rhel-8-x86_64-rpms"
        override: "enabled"
    content_view: "SOE8"
    lifecycle_environment: "Development"
    unlimited_hosts: true

  - name: "SOE8_prod"
    state: "present"
    description: "Activate a RHEL 8 system"
    organization: "{{ satellite_organization }}"
    auto_attach: false
    content_overrides:
      - label: "satellite-client-6-for-rhel-8-x86_64-rpms"
        override: "enabled"
    content_view: "SOE8"
    lifecycle_environment: "Production"
    unlimited_hosts: true

  - name: "SOE9_dev"
    state: "present"
    description: "Activate a RHEL 9 system in development"
    organization: "{{ satellite_organization }}"
    auto_attach: false
    content_overrides:
      - label: "satellite-client-6-for-rhel-9-x86_64-rpms"
        override: "enabled"
    content_view: "SOE9"
    lifecycle_environment: "Development"
    unlimited_hosts: true

  - name: "SOE9_prod"
    state: "present"
    description: "Activate a RHEL 9 system in production"
    organization: "{{ satellite_organization }}"
    auto_attach: false
    content_overrides:
      - label: "satellite-client-6-for-rhel-9-x86_64-rpms"
        override: "enabled"
    content_view: "SOE9"
    lifecycle_environment: "Production"
    unlimited_hosts: true
